$bar-stroke: #e9e4e4 !default;
$border-color: #e0e0e0 !default;
$light-bg: #f9f9f9 !default;
$light-border-color: #f9f9f9 !default;
$light-yellow: #fcf8e3 !default;
$text-muted: #e0dfdf !default;
$text-light: #555 !default;
$text-color: #333 !default;
$primary: #f2711c !default;

$background: #f0f2f5;

$max-height: calc(100vh - 100px);

.gantt-wrapper {
	width: calc(100% - 20px);
	margin: 0;
	border: 1px solid $border-color;
}

.gantt-svg {
	margin-top: -1px;

	.grid-background {
		fill: none;
	}

	.grid-header {
		fill: $background;
		stroke: $border-color;
		stroke-width: 1.4;
	}

	.grid-row {
		fill: $background;

		&.-alt-bg:nth-child(even) {
			fill: darken($background, 1%);
		}
	}

	.row-line {
		stroke: darken($background, 1%);
	}

	.resource-resize {
		outline: none;
		user-select: none;
		opacity: 0.2;

		&:hover {
			cursor: pointer;
			opacity: 1;
		}
	}

	.resource-line {
		stroke: #e0e0e0;
		stroke-width: 1;
	}

	.tick {
		stroke: darken($background, 16%);
		stroke-width: 0.2;

		&.thick {
			stroke-width: 0.4;
		}
	}

	.today-highlight {
		fill: lighten($primary, 22%);
	}

	.weekend-highlight {
		fill: darken($background, 4%);
	}

	.past-days-highlight {
		fill: darken($background, 2%);
	}

	.arrow {
		fill: none;
		stroke: darken($background, 16%);
		stroke-width: 2;

		path:hover,
		path.active {
			stroke: $primary;
		}
	}

	.bar {
		filter: drop-shadow(0px 0px 3px $bar-stroke);
		stroke-width: 0;
		transition: stroke-width 0.3s ease;
		user-select: none;
	}

	.bar-progress {
		fill: #000000;
		opacity: 0.1;
	}

	.bar-invalid {
		fill: transparent;
		stroke: $bar-stroke;
		stroke-width: 1;
		stroke-dasharray: 5;

		& ~ .bar-label {
			fill: $text-light;
		}
	}

	.bar-label {
		fill: #fff;
		dominant-baseline: central;
		font-size: 1.03em;
		font-weight: 500;

		&.big {
			fill: $text-light;
			text-anchor: start;
		}

		&.hide {
			display: none;
		}
	}

	.handle {
		cursor: ew-resize;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s ease;
	}

	.bar-wrapper {
		cursor: pointer;
		outline: none;

		&:hover {
			.bar-progress {
				opacity: 0.3;
			}

			.handle {
				visibility: visible;
				opacity: 0.7;
			}
		}

		&.active {
			.bar-progress {
				opacity: 0.3;
			}
		}
	}

	.lower-text,
	.upper-text {
		font-size: 12px;
		text-anchor: middle;
	}

	.upper-text {
		fill: $text-light;
	}

	.lower-text {
		fill: $text-color;
	}

	.header-text {
		font-size: 1.2em;
		text-anchor: start;
	}

	.resource-title {
		font-weight: 600;
		letter-spacing: 0.05em;
	}

	.resource-text {
		font-size: 12px;
		text-anchor: start;

		&.-task:hover {
			cursor: pointer;
			text-decoration: underline;
		}

		&.-responsable {
			font-size: 13px;
			font-weight: bold;
		}

		&.-team {
			font-size: 13px;
			font-weight: bold;
		}
	}

	.avatar {
		border-radius: 50%;
	}

	.hide {
		display: none;
	}
}

.gantt-container {
	position: relative;
	overflow: auto;
	font-size: 12px;
	max-height: $max-height;

	.popup-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		padding: 0 0 8px;
		border-radius: 3px;
		border: 2px solid #dfdddd;
		background: #fbfbfb;
		min-width: 200px;
		z-index: -1;

		.title {
			color: $text-color;
			border-bottom: 3px solid $primary;
			padding: 10px;
			margin-bottom: 5px;
		}

		.tooltip-line {
			padding: 5px 10px;
			color: $text-color;
		}

		.period {
		}

		.type {
		}

		.responsable {
		}

		.details {
			padding-top: 15px;

			.link-detail {
				font-size: 12px;
				color: #4183c4;
				cursor: pointer;
				text-decoration: underline;
			}
		}

		.pointer {
			position: absolute;
			height: 5px;
			margin: 0 0 0 -7px;
			border: 5px solid transparent;
			border-top-color: #dfdddd;
		}

		span.popup-type-icon {
			background-color: #000000;
			width: 18px;
			height: 18px;
			margin: 0 4px 0 0;
			display: inline;
			border-radius: 50%;
		}

		img.popup-type-icon {
			width: 18px;
			height: 18px;
			margin: 0 4px 0 0;
			display: inline;
			border-radius: 50%;
		}

		img.popup-responsable-icon {
			width: 18px;
			height: 18px;
			margin: 0 4px 0 0;
			display: inline;
			border-radius: 50%;
		}

		.popup-responsable-name,
		.popup-type-name {
			color: $text-color;
			display: inline-flex;
			line-height: 18px;
		}
	}
}
