$bar-color: #b8c2cc !default;
$bar-stroke: #8D99A6 !default;
$border-color: #e0e0e0 !default;
$light-bg: #f5f5f5 !default;
$light-border-color: #ebeff2 !default;
$light-yellow: #fcf8e3 !default;
$text-muted: #666 !default;
$text-light: #555 !default;
$text-color: #333 !default;
$primary: #F2711C !default;
$handle-color: #ddd !default;

.gantt {
	.grid-background {
		fill: none;
	}
	.grid-header {
		fill: #ffffff;
		stroke: $border-color;
		stroke-width: 1.4;
	}
	.grid-row {
		fill: #ffffff;
	}
	.grid-row:nth-child(even) {
		fill: $light-bg;
	}
	.row-line {
		stroke: $light-border-color;
	}
	.resource-resize {
		outline: none;
		user-select: none;
		opacity: 0.2;

		&:hover {
			cursor: pointer;
			opacity: 1;
		}
	}
	.resource-line {
		stroke: #e0e0e0;
    	stroke-width: 1;
	}
	.tick {
		stroke: $border-color;
		stroke-width: 0.2;
		&.thick {
			stroke-width: 0.4;
		}
	}
	.today-highlight {
		fill: $light-yellow;
		opacity: 0.5;
	}

	.arrow {
		fill: none;
		stroke: $text-muted;
		stroke-width: 1.4;
	}

	.bar {
		fill: $bar-color;
		stroke: $bar-stroke;
		stroke-width: 0;
		transition: stroke-width .3s ease;
		user-select: none;
	}
	.bar-progress {
		fill: $primary;
	}
	.bar-invalid {
		fill: transparent;
		stroke: $bar-stroke;
		stroke-width: 1;
		stroke-dasharray: 5;

		&~.bar-label {
			fill: $text-light;
		}
	}
	.bar-label {
		fill: #fff;
		dominant-baseline: central;
		font-size: 1.03em;
		font-weight: 500;

		&.big {
			fill: $text-light;
			text-anchor: start;
		}

		&.hide {
			display: none;
		}
	}

	.handle {
		fill: $handle-color;
		cursor: ew-resize;
		opacity: 0;
		visibility: hidden;
		transition: opacity .3s ease;
	}

	.bar-wrapper {
		cursor: pointer;
		outline: none;

		&:hover {
			.bar {
				fill: darken($bar-color, 5);
			}

			.bar-progress {
				fill: darken($primary, 5);
			}

			.handle {
				visibility: visible;
				opacity: 1;
			}
		}

		&.active {
			.bar {
				fill: darken($bar-color, 5);
			}

			.bar-progress {
				fill: darken($primary, 5);
			}
		}
	}

	.lower-text, .upper-text {
		font-size: 12px;
		text-anchor: middle;
	}
	.upper-text {
		fill: $text-light;
	}
	.lower-text {
		fill: $text-color;
	}
	.header-text {
		font-size: 1.2em;
		text-anchor: start;
	}
	.resource-title {
		font-weight: 600;
		letter-spacing: 0.05em;
	}
	.resource-text {
		font-size: 12px;
		text-anchor: start;

		&:hover {
			cursor: pointer;
			text-decoration: underline;
		}
	}
	
	.hide {
		display: none;
	}
}

.gantt-container {
	position: relative;
	overflow: auto hidden;
	font-size: 12px;

	.popup-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		padding: 0;
		border-radius: 3px;
		border: 2px solid #dfdddd;
		background: #fbfbfb;
		min-width: 160px;
		z-index: -1;

		.title {
			color: $text-color;
			border-bottom: 3px solid $primary;
			padding: 10px;
		}

		.subtitle {
			padding: 10px;
			color: $text-color;
		}

		.type {
			padding: 10px 10px 0;
		}

		.pointer {
			position: absolute;
			height: 5px;
			margin: 0 0 0 -7px;
			border: 5px solid transparent;
			border-top-color: #dfdddd;
		}

		span.popup-type-icon {
			background-color: #000000;
			width: 15px;
			height: 15px;
			border-radius: 2px;
			margin: 0 4px 0 0;
			display: inline;
		}

		img.popup-type-icon {
			width: 15px;
			height: 15px;
			margin: 0 4px 0 0;
			display: inline;
		}

		.popup-type-name {
			color: $text-color;
			display: inline-flex;
			line-height: 18px;
		}
	}
}